header.jumbotron
  .container
    h3 擁抱未知的旅行
    h1 歸零，啟程
section.intro
  .comtainer
    .row
      .col-md-12
      h2.section-heading 最後一次旅行是什麼時候呢?
      h3.section-subheading.text-muted 上一次的旅行，至今意猶未盡
    .row
      .col-md-4.col-sea
        img(src="https://scontent-sea1-1.cdninstagram.com/vp/b89d5662d3ca7cc27d0400cf2743c4c3/5BE57765/t51.2885-15/s480x480/e35/31888443_196531590972342_5268085543857553408_n.jpg", alt="")
        h4 一望無際
        h6.text-muted 就像沒有邊際的人生
      .col-md-4.col-sea
        img(src="https://bhutanchinesetours.files.wordpress.com/2017/10/dsc09389_e589afe69cac-1x1.jpg?w=532", alt="")
        h4 心曠神怡
        h6.text-muted 從旅行中尋找一種日常生活
      .col-md-4.col-sea
        img(src="https://pic.pimg.tw/lafeng1001/1534569945-1101681877_n.jpg", alt="")
        h4 水平如鏡
        h6.text-muted 藉由旅行重新認識自己
section.story
  .comtainer
    .row
      img.icon-sea(src="https://maxcdn.icons8.com/windows8/PNG/512/Travel/sea_waves-512.png", alt="")
      .col-md-12
      h2.section-heading 烏尤尼湖的故事
      h3.section-subheading.text-muted 高原上的世外桃源，天空之境
    .row
      .col-md-6
        p.h2 12000平方公里
        p.content 位於玻利維亞西南部的烏尤尼小鎮附近，是在安地斯山脈隆起過程中所形成的。是世界最大的鹽沼，東西長約250公里，南北寬約100公里，面積達10,582平方公里，盛產岩鹽與石膏。
      .col-md-6
        p.h2 3700公尺
        p.content 烏尤尼鹽沼位於海拔約3700公尺的山區。每年7月～10月為烏尤尼鹽沼的乾季，鹽沼表面很大面積是乾燥的，即使到了雨季，烏尤尼鹽沼仍有一些區域是乾涸的，因此可以乘坐車輛橫越烏尤尼鹽沼。另外，在烏尤尼鹽沼中央附近有一個名為Isla de Pescado的小島，上面長滿了仙人掌，是橫越烏尤尼鹽沼途中的重要休息處所。
section.pictures
  .comtainer-fluid
    .row
      .col-md-6.pic1
        .text-panel
          h1 鹽堆
          p 鹽產供當地人製鹽或做為房屋的建材
      .col-md-6.pic2
        .text-panel
          h1 Hotel de Sa
          p 從建築物本體到床、桌、椅全是鹽！
section.ask
  .container
    .row
      .col-md-12
        h2.section-heading 你準備好開始一趟小旅行了嗎?
        h3.section-subheading.text-muted 在有限時間裡去看看世界有多大多不可思議，探索關於你和世界的故事
        input.form-control          
  
        
        